@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand: hsl(126 80% 15%);
  --color-brand-dark: hsl(126 80% 10%);
  --color-brand-light: hsl(126 80% 20%);
  --color-text-primary: hsl(0, 0%, 5%);
  --color-text-secondary: hsl(0, 0%, 30%);
  --color-text-muted: hsl(0, 0%, 50%);
  --color-background-dark: hsl(0, 0%, 85%);
  --color-background: hsl(0, 0%, 90%);
  --color-background-light: hsl(0, 0%, 95%);
  --color-border: hsl(0, 0%, 75%);
  --color-input-background: hsl(0, 0%, 100%);
  --color-bg-1: 255, 255, 255;
  --color-bg-2: 242, 242, 247;
  --color-bg-3: 255, 255, 255;
  --color-bg-grouped-1: 242, 242, 247;
  --color-bg-grouped-2: 255, 255, 255;
  --color-bg-grouped-3: 242, 242, 247;
  --color-text-1: 0, 0, 0;
  --color-text-2: 60, 60, 67, 0.8;
  --color-text-3: 60, 60, 67, 0.6;
  --color-text-4: 60, 60, 67, 0.3;
  --color-text-on-brand: 255, 255, 255;
  --color-text-on-brand-2: 235, 235, 245, 0.6;
  --color-separator-faint: 60, 60, 67, 0.05;
  --color-separator: 60, 60, 67, 0.3;
  --color-separator-opaque: 198, 198, 200;
  --color-red: 255, 56, 60;
  --color-orange: 255, 141, 40;
  --color-yellow: 255, 204, 0;
  --color-green: 52, 199, 89;
  --color-mint: 0, 200, 179;
  --color-teal: 0, 195, 208;
  --color-cyan: 0, 192, 232;
  --color-blue: 0, 136, 255;
  --color-indigo: 97, 85, 245;
  --color-purple: 203, 48, 224;
  --color-pink: 255, 45, 85;
  --color-brown: 172, 127, 94;
  --color-red-hc: 233, 21, 45;
  --color-orange-hc: 197, 83, 0;
  --color-yellow-hc: 161, 106, 0;
  --color-green-hc: 0, 137, 50;
  --color-mint-hc: 0, 133, 117;
  --color-teal-hc: 0, 129, 152;
  --color-cyan-hc: 0, 126, 174;
  --color-blue-hc: 30, 110, 244;
  --color-indigo-hc: 86, 74, 222;
  --color-purple-hc: 176, 47, 194;
  --color-pink-hc: 231, 18, 77;
  --color-brown-hc: 149, 109, 81;
  --color-gray-1: 142, 142, 147;
  --color-gray-2: 174, 174, 178;
  --color-gray-3: 199, 199, 204;
  --color-gray-4: 209, 209, 214;
  --color-gray-5: 229, 229, 234;
  --color-gray-6: 242, 242, 247;
}

.dark {
  --color-brand: hsl(205, 80%, 20%);
  --color-brand-dark: hsl(205, 80%, 10%);
  --color-brand-light: hsl(205, 80%, 30%);
  --color-text-primary: hsl(0, 0%, 95%);
  --color-text-secondary: hsl(0, 0%, 70%);
  --color-text-muted: hsl(0, 0%, 50%);
  --color-background-dark: hsl(0, 15%, 3%);
  --color-background: hsl(219, 15%, 8%);
  --color-background-light: hsl(219, 15%, 15%);
  --color-border: hsl(0, 0%, 20%);
  --color-input-background: hsl(240, 3%, 20%);
  --color-bg-1: 0, 0, 0;
  --color-bg-2: 23, 23, 26;
  --color-bg-3: 44, 44, 46;
  --color-bg-grouped-1: 0, 0, 0;
  --color-bg-grouped-2: 23, 23, 26;
  --color-bg-grouped-3: 44, 44, 46;
  --color-text-1: 255, 255, 255;
  --color-text-2: 235, 235, 245, 0.6;
  --color-text-3: 235, 235, 245, 0.3;
  --color-text-4: 235, 235, 245, 0.18;
  --color-text-on-brand: 255, 255, 255;
  --color-text-on-brand-2: 235, 235, 245, 0.6;
  --color-separator-faint: 84, 84, 88, 0.2;
  --color-separator: 84, 84, 88, 0.6;
  --color-separator-opaque: 56, 56, 58;
  --color-red: 255, 66, 69;
  --color-orange: 255, 146, 48;
  --color-yellow: 255, 214, 0;
  --color-green: 48, 209, 88;
  --color-mint: 0, 218, 195;
  --color-teal: 0, 210, 224;
  --color-cyan: 60, 211, 254;
  --color-blue: 0, 145, 255;
  --color-indigo: 107, 93, 255;
  --color-purple: 219, 52, 242;
  --color-pink: 255, 55, 95;
  --color-brown: 183, 138, 102;
  --color-red-hc: 255, 97, 101;
  --color-orange-hc: 255, 160, 86;
  --color-yellow-hc: 254, 223, 67;
  --color-green-hc: 74, 217, 104;
  --color-mint-hc: 84, 223, 203;
  --color-teal-hc: 59, 221, 236;
  --color-cyan-hc: 109, 217, 255;
  --color-blue-hc: 92, 184, 255;
  --color-indigo-hc: 167, 170, 255;
  --color-purple-hc: 234, 141, 255;
  --color-pink-hc: 255, 138, 196;
  --color-brown-hc: 219, 166, 121;
  --color-gray-1: 142, 142, 147;
  --color-gray-2: 99, 99, 102;
  --color-gray-3: 72, 72, 74;
  --color-gray-4: 58, 58, 60;
  --color-gray-5: 44, 44, 46;
  --color-gray-6: 28, 28, 30;
}
